<p-dialog header="{{'Course Backup'|translate}}: {{syl.name}}" [(visible)]="display" modal="false" width="1000" height="100%"
    [responsive]="true">
    <div class="ui-g">
        <div class="ui-g-12 course-syllabus">
            <p-toolbar>
                <div class="ui-toolbar-group-left mt5">
                    <button pButton type="button" label="{{'Backup'|translate}}" class="green-btn" icon="ui-icon-mode-edit" (click)="backupCourse()"></button>
                </div>
            </p-toolbar>
            <div class="ui-g-6">
                <p-tree [value]="tree" selectionMode="checkbox" [(selection)]="selectedNode" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
            </div>
        </div>
    </div>
    <course-unit-dialog></course-unit-dialog>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="hide()" label="{{'Close'|translate}}"></button>
    </p-footer>
</p-dialog>